<div class="row">
    <div class="col-md-8 col-lg-9 bg-dark login-image border-right"></div>
    <div class="login col-md-4 col-lg-3 bg-light text-center">
        <div class="container mt-5">
            <h3 class="my-3">IntraProyect</h3>
            <hr class="bg-primary">
            <p class="lead">Iniciar sesión</p>
            <form [formGroup]="form" (ngSubmit)="validarForm()">
                <div class="form-group">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-mail-bulk"></i></div>
                        </div>
                        <input formControlName="email" type="email" class="form-control" placeholder="Ingrese su correo...">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-key"></i></div>
                        </div>
                        <input formControlName="password" type="password" class="form-control" placeholder="Ingrese su contrasña...">
                    </div>
                </div>
                <div class="alert alert-danger" *ngIf="error">
                    <small>La constraseña o el correo no son válidos.</small>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input formControlName="recuerdame" class="form-check-input" type="checkbox" id="recuerdame">
                        <label class="form-check-label" for="recuerdame">
                    Recordarme
                  </label>
                    </div>
                    <div>
                        <a href="#">¿Olvidaste tu contraseña?</a>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            </form>
        </div>
    </div>
</div>